/* Thumbnail text  */

.text {
    position: relative; 
    transition: .5s ease;
    opacity: 0;
}
  
.thumbnail:hover .text {
    opacity: 1;
}

/* Body */

.bodyImg {
    width: 100%;
}

.bodyH1 {
    text-align: center;
    margin-top: -.4cm;
    position: inherit;
    color: white;
    font-weight: bolder;
}

.slogan {
    text-align: center;
    margin-top: -2.55cm;
    position: inherit;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.bodyP {
    position: inherit;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -.25cm;
}

/* Introduction */

.introH1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #1F2833;
    
}

.introP {
    font-size: 20px;
    text-align: left;
    color: #1F2833;
}

.introImg {
    margin-top: 40px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* All rainwater benefits */

.benefitsH1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #1F2833;
    font-weight: bold;  
}

.benefitsLi {
    color: #1F2833;
    font-size: 20px;
    display: list-item;
    width: 30%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
}

.benefitsImg {
    margin-top: 50px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Some harvesting techniques info */

.methodsH1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #1F2833;
    font-weight: bold;
}

.methodsImg {
    margin: 40px 0px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.methodsP {
    font-size: 20px;
    text-align: left;
    color: #1F2833;
    margin-top: 20px;
}

/* Members info */

.membersH1 {
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    color: #1F2833;
}

.membersP {
    padding: 5px 20px;
    display: inline-block;
    font-size: 20px;
    color: #1F2833;
    border: #1F2833;
    border-radius: 20px;
    border-style: solid;
}

/* Adjust based on browser width */

@media only screen and (min-width: 1300px) {
    .introP {
        margin-top: 20px;
        
    }

    .methodsP {
    
        margin-top: 30px;
    }

    .membersP {
        margin: 25px 0 5px 32px;
    }
}

@media only screen and (max-width: 1300px) {
    .introP {
        padding: 0 260px;
    }

    .methodsP {
        padding: 0 258px;
    }

    .membersP {
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 500px;
    }
}

@media only screen and (max-width: 1000px) {
    .introP {
        padding: 0 244px;
    }

    .methodsP {
        padding: 0 242px;
    }
}

@media only screen and (max-width: 700px) {
    .introP {
        padding: 0 150px;
    }

    .methodsP {
        padding: 0 100px;
    }
}
