/* Body */

body{
    font-size: 20px;
    color: #1F2833;
}

/* Tittle text */

.title_text{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 35px;
    color: #1F2833;
}

/* Smaller title */

.left_title_text{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 35px;
    color: #1F2833;
}

/* Adjust based on browser width */

@media only screen and (min-width: 1300px){
    p{
        margin: 0 230px;
    }

    #uList_text{
        margin: 0 250px;
    }

    #oList_text{
        margin: 0 249px;
    }

    .left_title_text{
        padding: 0 230px;
    }
}

@media only screen and (max-width: 1300px){
    p{
        margin: 0 180px;
    }

    #uList_text{
        margin: 0 200px;
    }

    #oList_text{
        margin: 0 200px;
    }
}

@media only screen and (max-width: 1000px){
    p{
        margin: 0 130px;
    }

    #uList_text{
        margin: 0 148px;
    }

    #oList_text{
        margin: 0 148px;
    }
}

@media only screen and (max-width: 900px){
    p{
        margin: 0;
    }

    #uList_text{
        margin: 0 19px;
    }

    #oList_text{
        margin: 0 19px;
    }
}